link(rel='stylesheet', href='/lib/materialize/dist/css/materialize.min.css')
link(rel='stylesheet', href='/stylesheets/material.css')
script(type='text/javascript', src='/lib/materialize/dist/js/materialize.min.js')
script(type='text/javascript', src='/javascripts/material.js')