extends layout

block content
  include ./partials/bootstrapHead.jade
  body
    include ./partials/navbar.jade
    include ./partials/jumbotron.jade
    .container
      .row
        include ./partials/heading.jade
        include ./partials/heading.jade
        include ./partials/heading.jade  
      hr 
      include ./partials/footer.jade