extends layout

block content
  include ./partials/materialHead.jade
  body
    include ./partials/material/navbar.jade
    include ./partials/material/jumbotron.jade
    .container
      .row
        include ./partials/material/heading.jade
        include ./partials/material/heading.jade
        include ./partials/material/heading.jade  
      hr 
      include ./partials/footer.jade