nav
	.nav-wrapper
		.col.s12
			a.brand-logo Project name
			a.button-collapse(data-activates='mobile-demo')
				i.mdi-navigation-menu
			ul.right.hide-on-med-and-down
				li
					.input-field
						input#email
						label(for='email') Email
				li
					.input-field
						input#password.col.s3
						label(for='password') Password
			ul.side-nav#mobile-demo
				li
					.input-field
						input#email
						label(for='email') Email
				li
					.input-field
						input#password.col.s3
						label(for='password') Password
